doctype html
html(lang="en")
    head
        base(href="")
        title Electron Angular
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")

    body
        my-app Loading...
